<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422951906558-373vtlb86hsspm0b7o4o4uja8hboin6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422951906558-373vtlb86hsspm0b7o4o4uja8hboin6c</string>
	<key>API_KEY</key>
	<string>AIzaSyAI7_mwefQw79mIn_irfZDjjvxAWm1tcv8</string>
	<key>GCM_SENDER_ID</key>
	<string>422951906558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MTC.Boxing-Updates</string>
	<key>PROJECT_ID</key>
	<string>boxing-updates</string>
	<key>STORAGE_BUCKET</key>
	<string>boxing-updates.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422951906558:ios:7e10f8140b6b92fd4509af</string>
</dict>
</plist>